@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;

$color-primary: rgba(66, 39, 85, 1);
$color-secondary: rgba(0, 168, 104, 1);
$color-terciary: rgba(87, 204, 153,  1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);


$color-text-gray: rgba(65, 65, 65, 1);
$color-text-gray-2: rgba(117, 117, 117, 1);
$color-text-gray-3: rgba(54, 54, 54, 1);

$grid-desktop: 1080px;